body { background: white; color: black; }
ul li { list-style-type: circle; }
/* post author name is styled with `span > b` */
h1, h2, h2 > a:not([class], :visited), span > b { color: black; }
a:hover { text-decoration: none; } 
