{{ template "head" . }}
{{ if .LoggedIn }}
<aside>
    <p> <a style="float: right;" href="/thread/new">{{ "ThreadStartNew" | translate }}</a></p>
</aside>
{{ end }}

<main>
  <table id="threads">
    <tr>
      <th>Thread</th>
      <th>Author</th>
	  <th>Replies</th>
      <th>Latest</th>
    </tr>
	{{ range $index, $thread := .Data.Threads }}
    <tr>
      <td><b><a href="{{$thread.Slug}}">{{ $thread.Title }}</a></b>
      </td>
	  <td>{{$thread.Author}}</td>
      <td>{{$thread.ReplyCount}}</td>
      <td>{{$thread.LastPostAuthor}} <a href="{{$thread.LastPostSlug}}">{{$thread.Publish | formatDateTimeRelative }} </a></td>
	{{ end }}
  </table>
</main>
{{ template "footer" . }}
